a {
  color: rgb(21, 193, 146);
  font-size: 30px;
  font-family: 'Do Hyeon', sans-serif;
}

body {
  text-align: center;
  font-size: 10px;
  font-family: 'Do Hyeon', sans-serif;
}

ul {
  text-align: left;
  font-size: 20px;
  font-family: 'Do Hyeon', sans-serif;
}

#title {
  color: rgb(141, 24, 251);
  text-align: center;
  font-size: 70px;
  font-family: 'Do Hyeon', sans-serif;
}
